<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="helper.reports.ListenerTestNG"/>
    </listeners>
    <test name="qdPM" parallel="classes" thread-count="3">
        <classes>
            <class name="tests.loginTest"/>
            <class name="tests.TaskPageTest"></class>
            <class name="tests.TicketPageTest"></class>
        </classes>
    </test>
</suite>